.likeImg{
	display: inline-block;
	width: 20px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.likeImg:hover {
	transform: scale(1.4);
}

.alert{
	position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-warning{
	color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

